html, body {
   margin: 0px;
   height: 100%;
}

.form-group {
   margin-bottom: 0px;
}

.row-planner {
   border: 1px solid #001100;
   margin-bottom: 15px;
   padding: 8px 10px;
}


.btn-save {
   cursor: pointer;
}

.fa-save {
   font-size: 48px;
   color: maroon;
}

.past {
   background-color: #ffcccc;
}

.present {
   background-color: #ddffcc;

}

.future {
   background-color: #ccf5ff;
}

@media screen and (max-width: 992px) {

   .save-daily-notes {
      text-align: center;
   }

   .time-of-day {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 10px;
   }

   .planner-header {
      font-size: 4.5rem;
   }

}

@media screen and (max-width: 576px) {
   .planner-header {
      font-size: 3.5rem;
   }
}


@media (min-width: 576px) {
   .col-sm-1 {}
   .col-sm-2 {}
   .col-sm-9 {}
}

